.navbar-expand-lg {
    border: 1px #040E18 solid;
    border-radius: 5px;
    /* background: linear-gradient(to right, #00dbde, #fc00ff); */
}
/* .nav-item {
    background-color:gray;
    border-radius: 50%;
    width: 40px;
} */