<!-- Modal -->
<div class="" id="login" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="modal_login">S'authentifier</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="mail"></label>
                            <input type="text" class="form-control" #mail name="mail" id="mail" placeholder="Entrer votre adresse e-mail" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" #password name="password" id="password" placeholder="Entrer votre mot de passe" ngModel>
                        </div>                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Se connecter</button>
                    </div>
                </form>
            </div>


            <!-- <div class="modal-body">
                <form [formGroup]="loginForm" (submit)="submit()">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="mail"></label>
                            <input type="text" class="form-control" formControlName="mail" id="mail" placeholder="Entrer votre adresse e-mail">
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Entrer votre mot de passe">
                        </div>                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Se connecter</button>
                    </div>
                </form>
            </div> -->
            
        </div>
    </div>
</div>