<div class="card-body contacts_body">
    <ul class="contacts">
        <li class="active">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../../../../assets/images/user1.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>TANORA</span>
                    <p>Quelqu'un est en ligne</p>
                </div>
            </div>
        </li>
        <li>
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="../../../../assets/images/user2.png" class="rounded-circle user_img">
                    <span class="online_icon offline"></span>
                </div>
                <div class="user_info">
                    <span>FIAINANA</span>
                    <p> left 7 mins ago</p>
                </div>
            </div>
        </li>
    </ul>
</div>